version: 2
jobs: 
  lint:
    docker:
      - image: circleci/node:6
    steps:
      - checkout
      - restore_cache:
          keys:
            - cache-install
      - run:
          name: node-version
          command: 'node --version'
      - run:
          name: npm-version
          command: 'npm --version'
      - run:
          name: yarn-version
          command: 'yarn --version'
      - run:
          name: yarn-install-global
          command: 'sudo yarn global add gulp-cli'
      - run:
          name: yarn-install
          command: 'yarn install'
      - save_cache:
          key: cache-install
          paths:
            - ~/.cache/yarn
            - node_modules
      - run: yarn run lint
  build:
    docker:
      - image: circleci/node:6
    steps:
      - checkout
      - restore_cache:
          keys:
            - cache-install
      - run:
          name: node-version
          command: 'node --version'
      - run:
          name: npm-version
          command: 'npm --version'
      - run:
          name: yarn-version
          command: 'yarn --version'
      - run:
          name: yarn-install-global
          command: 'sudo yarn global add gulp-cli'
      - run:
          name: yarn-install
          command: 'yarn install'
      - save_cache:
          key: cache-install
          paths:
            - ~/.cache/yarn
            - node_modules
      - run: yarn run build
workflows:
  version: 2
  build_and_lint:
    jobs:
      - lint
      - build
