version: 2
jobs: 
  lint:
    docker:
      - image: circleci/node:6
    steps:
      - checkout
      - restore_cache:
          keys:
            - cache-lint-{{ checksum "package.json" }}
            - cache-lint
      - run:
          name: node-version
          command: 'node --version'
      - run:
          name: npm-version
          command: 'npm --version'
      - run:
          name: yarn-version
          command: 'yarn --version'
      - run:
          name: yarn-install-global
          command: 'sudo yarn global add gulp-cli'
      - run:
          name: yarn-install
          command: 'yarn install'
      - run: yarn run lint
      - save_cache:
          key: cache-lint-{{ checksum "package.json" }}
          paths:
            - ~/.cache/yarn
            - node_modules
      - save_cache:
          key: cache-lint
          paths:
            - ~/.cache/yarn
            - node_modules
  build:
    docker:
      - image: circleci/node:6
    steps:
      - checkout
      - restore_cache:
          keys:
            - cache-build-{{ checksum "package.json" }}
            - cache-build
      - run:
          name: node-version
          command: 'node --version'
      - run:
          name: npm-version
          command: 'npm --version'
      - run:
          name: yarn-version
          command: 'yarn --version'
      - run:
          name: yarn-install-global
          command: 'sudo yarn global add gulp-cli'
      - run:
          name: yarn-install
          command: 'yarn install'
      - run: yarn run build
      - save_cache:
          key: cache-build-{{ checksum "package.json" }}
          paths:
            - ~/.cache/yarn
            - node_modules
      - save_cache:
          key: cache-build
          paths:
            - ~/.cache/yarn
            - node_modules
  lockfile:
    docker:
      - image: circleci/node:6
    steps:
      - checkout
      - restore_cache:
          keys:
            - cache-lockfile-{{ checksum "package.json" }}
            - cache-lockfile
      - run:
          name: node-version
          command: 'node --version'
      - run:
          name: npm-version
          command: 'npm --version'
      - run:
          name: yarn-version
          command: 'yarn --version'
      - run:
          name: yarn-install-global
          command: 'sudo yarn global add greenkeeper-lockfile@1'
      - run:
          name: greenkeeper-lockfile-update
          command: 'greenkeeper-lockfile-update'
      - run:
          name: greenkeeper-lockfile-upload
          command: 'greenkeeper-lockfile-upload'
      - save_cache:
          key: cache-lockfile-{{ checksum "package.json" }}
          paths:
            - ~/.cache/yarn
      - save_cache:
          key: cache-lockfile
          paths:
            - ~/.cache/yarn
workflows:
  version: 2
  build_and_lint:
    jobs:
      - lint:
          filters:
            branches:
              ignore:
                - gh-pages
      - build:
          filters:
            branches:
              ignore:
                - gh-pages
      - lockfile:
          filters:
            branches:
              only:
                - /^greenkeeper-.*$/
